<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear/>
        <add name="Console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false" />
        <add name="Text" type="System.Diagnostics.TextWriterTraceListener" initializeData="logfile.log" traceOutputOptions="ThreadId,ProcessId,DateTime"></add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
